<form action="/create" method="POST">
  <h2>Создание задачи</h2>

  <div class="input-field">
    <input type="text" name="title" placeholder="Название задачи">
  </div>

  <button type="submit" class="btn">Создать</button>
</form>